spring:
  config:
    activate:
      on-profile: "dev"

  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: ${DEV_DB_URL}
    username: ${DEV_DB_USERNAME}
    password: ${DEV_DB_PASSWORD}

  jpa:
    show-sql: true
    hibernate:
      ddl-auto: create-drop  # 개발: update, 운영: validate 또는 none

  data:
    redis:
      host: localhost
      port: 6379

kakao:
  client-id: ${KAKAO_CLIENT_ID}
  redirect-uri: ${KAKAO_REDIRECT_URI}

naver:
  client-id: ${NAVER_CLIENT_ID}
  secret: ${NAVER_CLIENT_SECRET}

jwt:
  secret: ${JWT_SECRET}
  access-token-validity: ${JWT_ACCESS_TOKEN_VALIDITY}
  refresh-token-validity: ${JWT_REFRESH_TOKEN_VALIDITY}
