spring:
  config:
    import: optional:file:.env[.properties]
    activate:
      on-profile: "local"
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: ${LOCAL_DB_URL}
    username: ${LOCAL_DB_USERNAME}
    password: ${LOCAL_DB_PASSWORD}

  jpa:
    show-sql: true
    open-in-view: false
    hibernate:
      ddl-auto: create-drop


  data:
    redis:
      host: localhost
      port: 6379

naver:
  client-id: ${NAVER_CLIENT_ID}
  secret: ${NAVER_CLIENT_SECRET}